*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    background-color: white;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
}

.navbar-container{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.navbar-left{
    font-size: 32px;
    font-weight: lighter;
}

.navbar-right{
    font-size: 16px;
    font-weight: lighter;
}

.navbar-right > *{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.navbar-right > a:hover{
    text-decoration: underline;
    transition-delay: 12s;
}

#home{
    background-image: url(/assets/images/basket.webp);
    width: 100%;
    height: 656px;
}

.home-container{
    display: flex;
    width: calc(100%/5);
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 50vh;
}

.home-header{
    font-size: 60px;
}

.home-content{
    font-family: sans-serif;
    margin-top: 40px;
    color: grey;
}

.view{
    margin-top: 60px;
}

.view-more{
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    
    font-family: sans-serif;
    font-size: 13px;
    background-color: black;
    text-decoration: none;
}

.view-more:hover{
    filter: brightness(150%);
}

#needs{
    width: 100%;
    height: 912px;
    background-color: whitesmoke;
}

.needs-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 39%;
    margin: 0 auto;
    position: relative;
    top: 15vh;
}

.needs-header-huge{
    font-size: 60px;
    margin-bottom: 30px;
}

.needs-header-grey{
    font-size: 22px;;
    font-family: sans-serif;
}

.cards{
    display: flex;
    width: 100%;
    height: 61%;
    position: relative;
    top: 15vh;
}